<div class="container-fluid">
  <div class="row">
    <div class="maincontent-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="latest-product">
              <h2 class="section-title">Latest Products</h2>
              <app-latest-products
                [count]="slideConfiglatestProducts"
              ></app-latest-products>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- End product widget area -->
  </div>
</div>
